<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
</head>
<body>
    <h2><i>All users</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<form method="get" action="/users/newUser" style="display: inline;"><button>Join us Today!</button></form></h2>
    <table border="black">
        <tr>
            <th rowspan="2">userId</th>
            <th rowspan="2">username</th>
            <th rowspan="2">email</th>
            <th rowspan="2">password</th>
            <th colspan="3" style="width: 51px;">Functionalities</th>
        </tr>
        <tr>
            <th style="width: 17px;">Details</th>
            <th style="width: 17px;">Edit</th>
            <th style="width: 17px;">Delete</th>
        </tr>
        <% for(let user of result) {%>
            <tr>
                <td><%= user.userId %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= user.password %></td>
                <td><form method="get" action="/users/details/<%= user.userId %>" style="display: inline;"><button>Details</button></form></td>
                <td><form method="get" action="/users/edit/<%= user.userId%>" style="display: inline;"><button>Edit</button></form></td>
                <td><form method="post" action="/users/delete/<%= user.userId %>?_method=DELETE" style="display: inline;"><button>Delete</button></form></td>
            </tr>
        <%}%>
    </table>
</body>
</html>