<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= userData.name %></title>
    <link rel="stylesheet" href="/style/user.css">
</head>
<body>
    <h1>Welcome <i>@<%= userData.name %></i></h1>
    <h4>
        <span>Followers :- <%= userData.followers %></span>
        &emsp;&emsp;
        <span>Following :- <%= userData.following %></span>
    </h4>
    <% for(let post of userData.posts) {%>
        <div class="postDiv">
            <div class="imgDiv">
                <img src="<%= post.image %>">
            </div>
            <div class="infoDiv">
                <p><span>Likes :- <%= post.likes %></span>&emsp;&emsp;<span>Comments :- <%= post.comments %></span></p>
            </div>
        </div>
    <% } %>
</body>
</html>