<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>filmyWorld</title>
</head>
<body>
    <% for(let val of data) {%>
        <div class="postDiv">
            <p>Title :- <%= val.title %></p>
            <p>Actre :- <%= val.acters[0] %></p>
            <p>Actresses :- <%= val.actresses[0] %></p>
            <p>Generes :- <%= val.generes[0] %></p>
            <p>relase data :- <%= val.relaseData %></p>
            <p>budget :- <%= val.budget %></p>
            <p>revenues :- <%= val.revenues %></p>
            <p>rating :- <%= val.rating %></p>
            <p>Description :- <%= val.description %></p>
            <img src="<%= val.img %>">
        </div>
    <% } %>
</body>
</html>